.checkbox-cursor {
	cursor: pointer;
	vertical-align: top;
}

.color {
	color: green;
}

.checkbox-label {
	margin-right: 20px;
}

.checkbox-description {
	display: inline;
	margin-left: 5px;
	font-weight: bold;
}

.charge-requests-title {
	text-align: center;
	text-decoration: underline;
}

.center {
	text-align: center;
}
