<div class="modal-header">
	<h3 class="modal-title">Uh Oh, Forgot Password?</h3>
	<p>Enter your email address associated with your account, then press send. You will receive a temporary password. Please
	make sure to reset your password when you log in!</p>
</div>
<div class="modal-body">
	<div class="form-group">
		<label>Enter Your Email Address</label>
		<input type="name" placeholder="Enter Email..." class="form-control" ng-model="forgot.email">
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="create()">Send</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>