<!--
<section ng-controller="NavCtrl as nav">
	<nav class="navbar">
		<div class="links-container">
			<a ng-show="nav.loggedIn" ui-sref="track-claims" class="navbar-link">{{ nav.trackClaims }}</a>
			<a ng-show="!nav.loggedIn" class="navbar-link" ng-click="nav.navLogInModal()">{{ nav.logInLink }}</a>
			<a ng-show="nav.loggedIn" class="navbar-link" ng-click="nav.logOut()">{{ nav.logOutLink }}</a>
			<p ng-show="nav.currentUserShow" class="navbar-link" ng-click="nav.resetPassword()">{{ nav.currentUser }}</p>
		</div>
	</nav>
</section>-->
